<div class="center hero-unit">
  <h1>Welcome to the WPILife</h1>

  <h2>
    WPILife is a place where members of the WPI community come together to connect.
  </h2>

  <%= link_to "Sign in with your wpi.edu email!", signup_path, class: "btn btn-large btn-primary" %>
</div>