/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Ovo', serif;
  background: #880000
}
#container {
}
header, #content, footer {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: block;
  height: 120px;
  margin-bottom: 10px;
  background: #b1b1b1;
}
#content-container {
    background-color: #dcdbc9;
    min-height: 400px;
}
#content {
    padding: 12px;
    width: 1000px;
}
#logo {
    font-size: 60pt;
    margin-left: 20px;
    margin-top: 30px;
    float: left;
}
#logo #wpi {
    color: #4e4e4e;
}
#logo #life {
    color: #973431;
}
nav {
    float:right;
    margin-right: 25px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: block;
    list-style: none;
    font-size: 20pt;
    height: 45px;
    padding: 75px 20px 0;
    float: left;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
#signin {
    text-align: right
}
footer {
    margin-top: 10px;
}
