// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question, .answer {
  background: #EED;
  border-radius: 5px;
  margin-bottom: 10px;
  
  .row>div>div{
    margin: 5px;
  }
}
.answer {
  background: #EDE;
}
